*{
    padding: 0;
    margin: 0;
}

/*---Identificadores---*/

/*General*/


header label{
    display: block;
    width: 30px;
    padding: 10px;
    display: none;
}

/*Header*/
#boxHeader{
    position: fixed;
    background-color:#3B398F;
    height: 70px;
    width: 100%;
    z-index: 10000;
}

#btnMenu{
    display: none;
}


/*footer*/
#footerBox{
    position:  relative;
    background-color:#3B398F;
    height: 400px;
    z-index: 600;
}

/*---Clases---*/

/*Haeader*/
.logo{
    position: absolute;
    top: 10px;
    left: 20px;
    width: 220px;

}

.btnMenu{
    position: absolute;
    top: 25px;
    right: 40px;
} 

/*nav*/
.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li a{
    display: block;
    font-size: 20px;
    padding: 20px 25px;
    color: #ffffff;
    text-decoration: none;
}

/*Footer*/
.imgLogoFooter{
    position: absolute;
    top: 12px;
    right: 0;
    left: 0;
    margin: auto;
    width: 80px;
}


.block1FooterBox{
    position:relative;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    height: 50px;
    top: 100px;
    width: 100%;
}

.text1Block1FooterBox{
    position: absolute;
    top: 10px;
    color: #ffffff;
    font-size: 20px;
    left: 15px;
}

.block2FooterBox{
    position:relative;
    border-bottom: 1px solid #ffffff;
    height: 50px;
    top: 100px;
    width: 100%;
}

.text2Block1FooterBox{
    position: absolute;
    top: 10px;
    color: #ffffff;
    font-size: 20px;
    left: 15px;
}

/*---eventos---*/

/*Menu*/
header label:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}

.menu li:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

/*---MediaQuery---*/


/*article1*/
@media (min-width: 500px){
    #article1{
        position: relative;
        top: 40px;
        background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
        height: 500px;
        z-index: 1000;
    }

    .text1Article1{
        position: absolute;
        color:#ffffff;
        font-family: 'Sansita Swashed', cursive;
        font-size: 1.5rem;
        font-weight: 700;
        top: 150px;
        right: 10px;
        left: 20px;
    }
    
    .text2Article1{
        position: absolute;
        color:#ffffff;
        font-size: 1rem;
        font-weight: 500;
        top: 250px;
        right: 10px;
        left: 20px; 
    }
    
    .button1Article1{
        position: absolute;
        top: 370px;
        width: 150px;
        background: linear-gradient(to bottom,#fc8c14 0,#f77d0e 100%);
        border: 1px solid #f77d0e;
        color: #ffffff;
        border-radius: 8px;
        font-size: 15px;
        font-weight: 700;
        left: 0;
        right: 0;
        padding: 10px;
        margin: auto;
    }
}


/*Menu*/
@media (max-width:900px){
    header label{
        display: block;
        margin: 12px 15px 0 auto;
    }

    .menu{
        position: absolute;
        background-color: #3B398F ;
        right: 0;
        width: 60%;
        margin-right: -60%;
    }

    .menu ul{
        flex-direction: column;
    }

    #btnMenu:checked ~ .menu {
        margin: 0;
    }
}